<div class="jumbotron mt-0 mp-0">
    <h1>USA => State&nbsp;Parks</h1>
    <h2>A USA State Parks API</h2>

    <ul>
        <li>All the state parks info you have ever wanted.</li>
        <li>State parks from all 50 states.</li>
        <li>Searchable by latitude/longitude.</li>
        <li>** NOW includes National Parks!</li>
    </ul>

    <p class="text-right">Jay Cooke State Park</p>
</div>

<!-- try out the api -->
<div class="row">
    <div class="col text-center">
        <h2>Try it now!</h2>
        <form id="sample1" class="form-group">
            <label class="apiRequestHost form-control-lg" for="apiRequest1"></label>
            <input class="form-control-lg" type="text" id="apiRequest1" placeholder="/api/park/v1/?state=mn" value="/api/park/v1/?state=mn"
                required>
            <button class="form-control-lg btn-secondary" type="submit">Request</button>
        </form>
    </div>
</div>

<!-- see the query results here -->
<div class="row">
    <div class="col">
        <h4>Result:</h4>
        <pre id="queryResult1" class="queryResult">Error, didn't load properly.</pre>
    </div>
</div>

<!-- More info here -->
<div class="row">
    <div class="col-12 col-md-4">
        <h3>What is this?</h3>

        <p>The USA State Parks API is a programmatically-accessible data source for all the state parks in the USA. Data was
            scraped from <a href="https://en.wikipedia.org/wiki/Lists_of_state_parks_by_U.S._state" target="_blank">Wikipedia</a>. Latitude and longitude are populated by Google Maps Geocoding API. <a href="/documentation">See the documenation for more information.</a></p>

        <p>You now have the state parks searchable and formatted into something easier to consume (JSON). Search by state name, id, or location.</p>
    </div>
    <div class="col-12 col-md-4">
        <h3>How can I use it?</h3>

        <p>All the data is accessible through the HTTP web API. Currently, you 
        can search by state.  You search by the state's full name or its two letter abbreviation.</p>
        
        <p>You can also search by a park's unique id.  Use id instead of state for the query parameter.</p>

        <p>Even better, you can search by location.  Just give a latitude and longintude.  <a href="/documentation">See the documenation for more information.</a></p>

    </div>
    <div class="col-12 col-md-4">
        <h3>How can I support this? </h3>
        <p>This project is open source and you can contribute on <a href="https://github.com/aarontkennedy/usaStateParks">GitHub</a>.</p>
    </div>
</div>