<div class="jumbotron mt-0 mp-0">
    <h1>USA => State Parks</h1>
    <h2>A USA State Parks API</h2>

    <ul>
        <li>All the state parks info you have ever wanted.</li>
        <li>State parks from all 50 states.</li>
        <li>Searchable by latitude/longitude.</li>
    </ul>

    <p class="text-right">Jay Cook State Park</p>
</div>

<!-- try out the api -->
<div class="row">
    <div class="col text-center">
        <h2>Try it now!</h2>
        <form class="form-group">
            <label class="form-control-lg" for="apiRequest">https://swapi.co/api/</label>
            <input class="form-control-lg" type="text" id="apiRequest" placeholder="parks/mn/">
            <button class="form-control-lg btn-secondary" type="submit">Request</button>
        </form>
    </div>
</div>

<!-- see the query results here -->
<div class="row">
    <div class="col">
        <h4>Result:</h4>
        <div id="queryResult">Error, didn't load properly.</div>
    </div>
</div>
<div class="row"></div>

<!-- More info here -->
<div class="row">
    <div class="col-12 col-md-4">
        <h3>What is this?</h3>

        <p>The Star Wars API, or "swapi" (Swah-pee) is the world's first quantified and programmatically-accessible data source
            for all the data from the Star Wars canon universe!</p>

        <p>We've taken all the rich contextual stuff from the universe and formatted into something easier to consume with software.
            Then we went and stuck an API on the front so you can access it all!</p>
    </div>
    <div class="col-12 col-md-4">
        <h3>How can I use it?</h3>

        <p>All the data is accessible through our HTTP web API. Consult our documentation if you'd like to get started.</p>

        <p>Helper libraries for popular programming languages are also provided so you can consume swapi in your favourite programming
            language, in a style that suits you.</p>
    </div>
    <div class="col-12 col-md-4">
        <h3>How can I support this? </h3>
        <p>This project is open source and you can contribute on GitHub.</p>
    </div>
</div>